*
  margin 0
  padding 0
  box-sizing border-box
body
  font-size 14px
  line-height 1.6
  font-family 'Microsoft Yahei',-apple-system-font,Helvetica Neue,sans-serif

.main
  max-width 640px
  margin auto

.pad10
  padding 10px
.pl10, .pl
  padding-left 10px

.pb5
  padding-bottom 5px

.pr10, .pr
  padding-right 10px
.pr5
  padding-right: 5px

.pt5
  padding-top 5px

.epet-search
  padding 8px 0
  background #fff
  text-align center
  display -webkit-box
  -webkit-box-align center
  display -moz-box
  -moz-box-align center
  width 100%

.location
  margin-right 20px

.relative, .rela
  position relative

.ft12
  font-size: 12px

.ft14
  font-size 14px

.fl, .pull-left
  float left
.fr, .pull-right
  float: right

.c89
  color #898989

.c999 {
  color: #999;
}
.ft13
  font-size 13px

.location i
  position absolute
  top 10px
  right -11px
  border-width 4px
  font-size 0
  line-height 0
  border-style solid solid dotted
  border-color #898989 transparent transparent transparent

i, em
  font-style normal

.epet-search p
  position relative

.epet-logo, .epet-category
  display block

.epet-category img
  width 25px
  margin-left 10px

a img
  border 0
a
  display block
a
  text-decoration: none
  -webkit-tap-highlight-color: rgba(0,0,0,0)

img
  vertical-align middle


.epet-search input
  width 100%
  border 0
  height 25px
  background #e9e9e9
  border-radius 4px
  color #bcbcbc
  text-indent 10px
  font-size 13px
  outline 0

.epet-search .serach-ico
  width 11px
  height 11px
  position absolute
  right 5px
  top 0
  bottom 0
  margin auto 0
  background-position 0 0

.eico
  background url(https://static.epetbar.com/static_web/wap/dist/images/search.png) no-repeat
  background-size 11px auto

.epet-logo, .epet-category
  display block

.epet-search p
  -webkit-box-flex 1
  -moz-box-flex 1

.ml10, .ml
  margin-left 10px
.ftc
  text-align: center

.dib
  display: inline-block

.ftr
  text-align: right

.pl5
  padding-left: 5px

.mb10, .mb
  margin-bottom: 10px

.cred {
  color: red;
}
.mt5 {
  margin-top: 5px;
}
.swiper-slide, .swiper-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.swiper-wrapper {
  z-index: 1;
  /*display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;*/
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform;
  box-sizing: content-box;
}
.swiper-container-android .swiper-slide, .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.loadimg-nofixed {
  background: url(../../components/bargains/imgs/default-epet.png) no-repeat center center #f4f4f4;
  background-size: 120px auto;
  position: relative;
  padding-top: 100%;
}
.loadimg-nofixed .image {
  top: 0;
  left: 0;
  position: absolute;
}
/*.swiper-slide {
  -ms-flex: 0 0 auto;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}*/
